.container{
    margin: 0 auto;
    max-width: 1600px;
}
header{
  background: url('../img/bg-image.png') top -95px center no-repeat;
  display: flex;
  padding: 0 516px 0 502px;
  align-items: center;
  height: 95px;
}
.webdev {
  background: url('../img/bg-image.png') top -95px center no-repeat;
}

.menu_item{
  color: white;
  opacity: 0.8;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  margin-right: 85px;
  }
  .menu_item:hover{
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    border-bottom: 1px solid white; 
    margin-right: 85px;
    opacity: 1;
    }
  
.active{
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  border-bottom: 1px solid white; 
  margin-right: 85px;
  opacity: 1;
  }

.menu_item:nth-child(2){
  margin-right: 0px;
  }
  .menu_item:nth-child(3){
    margin-right: 83px;
    }
    .menu_item:last-child{
      margin-right: 0px;
      }
      

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.menu_logo{
  padding: 0px 101px 0 101px;
}
.webdev_text{
  margin-top: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
}
.w_text{
  margin-top: 135px;
  margin-left: 2px;
  font-family: Roboto;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: 4.5px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.w_sentences{
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  max-width: 508px;
  margin-top: 1px;
  margin-bottom: 30px;
}
p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.blue_button{
  height: 46px;
  width: 184px;
  background: #00AFDB;
  display: flex;
  align-items: center;
  justify-content: center;
  }
.blue_button:hover{
  height: 46px;
  width: 184px;
  background: #009CC2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_text{
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-size: 14px;
}
.contacts{
  display: flex;
  justify-content: center;
  margin-top: 183px;
  padding-bottom: 83px;
}
.contacts_item{
  padding: 0 15px;
}
.contacts_item:hover{
  padding: 0 15px;
  opacity: .5;
}
.text
{
  margin-right: 248px;
  max-width: 407px;}

.bigtext {
     letter-spacing: 1px;
     font-weight: 700;
     font-size: 24px;
     text-transform: uppercase;
     margin-bottom: 20px;
     margin-top: 0;
    }
.lit_text{
      font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 30px;
    color: #4E4E4E;
}
    .rap{
    display: flex;
    align-items: center;
    background: white;
    padding: 120px 270px 140px;
    color: #373737;
    }
.our_c{
  position: relative;
  height: 244px;
  background: #F5F6F7;
  display: flex;
  padding: 121px 0 140px 248px;
}
.our_icon{
  margin-bottom: 20px;
 
}
  .our_title{
    margin-bottom: 13px;
    color: #373737;
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700px;
    line-height: 20px;
    letter-spacing: 2.4000000953674316px;
    text-align: center;
  }
  .our_cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    text-align: center;
    
  }
  .out_text{
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0px;
      text-align: center;
      color: #4E4E4E; 
  }
  .our_slider_item{
      margin-right: 30px;
  }
  .our_slider{
    margin-left: 120px;
    overflow: hidden;
    display: flex;
  }
  .our_slider_active{
    display: flex;
    position: absolute;
    top: 83px;
    width: 105px;
    right: 255px;
  }

  .slider_text{
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    padding: 0 2px;
  }
  .slider_ar{
    padding: 0 10px;
    line-height: 25px;
  }
  .slider_ar:hover{
    padding: 0 10px;
    line-height: 25px;
    opacity: .5;
  }
  .imp_title{
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
  }
.imp_text{
  font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #4E4E4E;
    padding: 20px 0 30px 0;
}
.implement_text{
  margin-left: 139px;
  margin-bottom: 3px;
  max-width: 408px;

}
.imp{
  display: flex;
    align-items: center;
    padding: 120px 358px 139px 269px;
}
.sign{
  display: flex;
    flex-direction: column;
    padding: 203px 0 277px;
    margin: 0 auto;
    background: url(../img/pexels-christina-morillo-1181675\ 1.png) top center no-repeat;
}
.sign_text{
  text-transform: uppercase;
    color: white;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 30px;
}
.sign_field{
  display: flex;
  margin: 0 auto;
  flex-direction: row;
}
.sign_input{
  display: block;
  padding: 14px 0px 12px 24px;
  width: 316px;
}
.sign_input:hover{
  display: block;
  padding: 14px 0px 12px 24px;
  width: 316px;
  color: #373737;
}
.sign_button{
  display: block;
  position: relative;
  height: 46px;
  width: 66px;
  background: #00AFDB;
}
.sign_button:hover{
    display: block;
    position: relative;
    height: 46px;
    width: 66px;
    background: #009CC2;
}
.sign_button svg {
  position: absolute;
  top: 16px;
  left: 24px;
}
.download{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  padding: 62px 0 180px;
}
.d_title{
  font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    color: #373737;
    margin-bottom: 20px;
}
.d_text{
  font-size: 14px;
  line-height: 20px;
  color: #4E4E4E;
  max-width: 483px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.d_button{
  display: flex;
  margin: 0 auto;
}
.apple_b_text{
  display: flex;
  padding: 20px 18px 14px 19px;
  color: white;
  background: #00AFDB;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
}
.apple_b_text:hover{
  display: flex;
  padding: 20px 18px 14px 19px;
  color: white;
  background: #009CC2;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
}

.button_l{
  display: block;
  background: #009CC2;
  padding: 15px 21px 15px 22px;
}
.button{
  display: flex;
  height: 50px;
  margin: 0 15px;
  transition: all .3s ease;
}

.android_b_t{
  display: block;
    padding: 18px 17px 16px 17px;
    color: white;
    background: #00AFDB;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}
.android_b_t:hover{
  display: block;
    padding: 18px 17px 16px 17px;
    color: white;
    background: #009CC2;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}
.footer_m{
  display: flex;
}
.footer_m_item{
  font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: white;
}
.footer_m_item:hover{
  font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: white;
    opacity: .5;
}
footer{
  display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    padding: 57px 0 76px;
}
.footer_l{
  padding-right: 449px;
    padding-left: 342px;
}
.footer_text{
  color: #818181;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
}

.footer_m_item::after {
  content: "";
  display: inline-block;
  height: 8px;
  width: 1px;
  background: #4E4E4E;
  margin: 0 20px;
}
.h2{
  display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

